:root {
  --primary-color: #192026;
  --button: #f41f3b;
  --buttonBorder: linear-gradient(rgba(244, 27, 59, 1), rgba(24, 132, 244, 1));
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #192026;
}
/* ************ HEADER ***************** */
header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  color: white;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: serif, sans-serif;
}
.navbar a {
  text-decoration: none;
  font-weight: bold;
}
.action-btn {
  padding: 0.5rem 0.4rem;
  background-color: #f41f3b;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 10px;
}

.navbar li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  z-index: 1000;
}
.login {
  display: flex;
}
.nav-links a {
  color: #fff;
}
/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  align-items: center;
  gap: 2.2em;
  font-size: 18px;
}

.menu li:hover {
  color: var(--button);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */

.hero {
  height: calc(100vh - 64px);
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.promo {
  position: relative;
  width: 80%;
  height: 74%;
  border: 1px solid white;
  background-color: linear-gradient(
    227deg,
    rgba(0, 0, 0, 0.32) 0%,
    rgba(0, 0, 0, 0.33) 46.36%,
    rgba(0, 0, 0, 0.51) 100%
  );
  border-radius: 3px;
}

.promo .Grdtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}
.promo .Grdtitle h1 {
  font-size: 6rem;
}

/* ************ HEADER ***************** */

/**************************/
/* FILM */
/**************************/

.films {
  width: 100%;
  height: 250vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1.2rem;
  position: relative;
}
.films .cadre {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(5, 1.5fr);
}

.films .cadre .card {
  padding: 1rem;
  background-color: white;
}

.films .cadre .card .cardImg {
  width: 100%;
  height: 80%;
  border-radius: 5px;
  position: relative;
  background-color: #d9d9d9;
}
.btnJouer{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.films .cadre .card .cardTitle {
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-around;
}
.films .cadre .card .cardTitle h3 {
  margin: auto;
  color: #807e81;
  font-family: Poppins;
  font-size: 1vw;
  text-align: start;
  white-space: nowrap;
}
.films .cadre .card .cardTitle h4{
  margin: auto;
  color: #807e81;
  font-family: Poppins;
  font-size: 0.5vw;
  text-align: start;
  white-space: nowrap;
}
.films .cadre .card .cardTitle button{
   background-color: transparent;
    border: none;
}
/* ************ FILM ***************** */

/**************************/
/* FOOTER */
/**************************/
.footer {
  width: 100%;
  padding: 1.8rem 0;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.trait {
  margin: 2rem 0;
  width: 100%;
  background: #363536;
}
.footer .grid {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-around;
}
.footer .grid .div1 {
  width: 30%;
  height: auto;
}
.footer .grid .div2 {
  width: 20%;
  height: 10rem;
}
.footer .grid .div3 {
  width: 14%;
  height: 8rem;
}
.newletters h4 {
  color: white;
}
.suivezNous {
  display: flex;
  height: auto;
  width: 30rem;
}
.newletters textarea {
  width: 80%;
  height: 100px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  outline: none;
  background: #d9d9d9;
  margin-top: 10px;
  resize: none;
}
.div3 .content {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
.newletters button {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  outline: none;
  border-radius: 28px;
  background: #d9d9d9;
  margin-top: 10px;
  color: black;
  cursor: pointer;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
}

.suivezNous h4 {
  margin-top: 0.8rem;
  color: #807e81;
  font-weight: bold;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
  color: white;
}
.suivezNous .icones {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: space-around;
}
.lab {
  color: white;
}

.footer-bottom p {
  color: white;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  text-align: center;
  margin-top: 1rem;
}

/* Medias Queries */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    overflow: auto;
  }
  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    background-color: var(--primary-color);
  }

  .menu li:hover {
    display: inline-block;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}
@media (max-width: 768px) {
  body {
    overflow: auto;
  }
  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    background-color: var(--primary-color);
  }

  .menu li:hover {
    display: inline-block;

    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 767px) {
  body {
    overflow: auto;
  }
  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    background-color: var(--primary-color);
  }

  .menu li:hover {
    display: inline-block;

    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
  .footer .grid .div3 {
    width: 7%;
    height: 5rem;
    margin-left: 2rem;
  }

  .suivezNous {
    display: flex;
    width: 30rem;
    flex-direction: column;
  }

  .footer .grid .div1 {
    width: auto;
    height: auto;
  }

  .promo .lancer .btn-lancer {
    border-radius: 3px;
    width: 8.6rem;
    border: none;
    height: auto;
    padding: 10px 20px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.1);
  }
  .promo .lancer .descriptTitle {
    color: var(--black-color-737174, #807e81);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    display: none;
    margin: 10px 0px;
  }
  .promo .lancer .grandTitle {
    font-size: 19px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: -0.57px;
    text-transform: capitalize;
    margin: 10px 0px;
    display: inline-block;
  }

  .promo .lancer .dateTitle {
    font-size: 7px;
    font-weight: 900;
    line-height: 19px;
    margin: -3px 0px;
    display: inline-block;
  }

  .hero {
    gap: 0;
  }
  .films {
    height: 100vh;
  }
  .films .cadre {
    gap: 0.3rem;
  }
  .films .cadre .card {
    padding: 0.2rem;
    background-color: white;
  }
  .promo .Grdtitle h1 {
    font-size: 4rem;
}
.films .cadre .card .cardTitle h4{

  font-size: 1.5vw;
}
.films .cadre .card .cardTitle h3{

  font-size: 2vw;
}

}
