:root {
  --primary-color: #192026;
  --button: #f41f3b;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #192026;
}
/* ************ HEADER ***************** */
header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);

  color: white;
}
.navbar {
  width: 100%;
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-color);
}
.navbar .logo a {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Pacifico";
}
.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle-btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.navbar li,
.dropdown-menu li {
  list-style: none;
}
.navbar li img {
  width: 15px;
  height: 15px;
}
.navbar a,
.dropdown-menu a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.links a:hover {
  color: var(--button);
}

.navabr a:hover,
.dropdown-menu a:hover {
  color: black;
}
.action-btn {
  padding: 0.5rem 0.4rem;
  background-color: var(--button);
  outline: none;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 10px;
}

.action-btn:hover {
  scale: 1.05;
  background-color: white;
  color: black;
}

.action-btn:active {
  scale: 0.5;
}
.dropdown-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background-color: #5d514c;
  backdrop-filter: blur(15px);
  overflow: hidden;
  border-radius: 10px;
  transition: height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.dropdown-menu.open {
  height: 280px;
}
.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu .action-btn {
  width: 100%;
  border-radius: 20px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  height: calc(100vh - 64px);
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.promo {
  position: relative;
  width: 70%;
  height: 85%;
  border: 1px solid white;
  background-color: linear-gradient(
    227deg,
    rgba(0, 0, 0, 0.32) 0%,
    rgba(0, 0, 0, 0.33) 46.36%,
    rgba(0, 0, 0, 0.51) 100%
  );
  border-radius: 3px;
}
.promo .lancer {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 78%;
  text-align: start;
  left: 32%;
  transform: translate(-50%, -50%);
}

.promo .lancer .grandTitle {
  color: var(--ffffff, #fff);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  font-family: Poppins;
  text-align: start;
  font-size: 38px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -0.57px;
  text-transform: capitalize;
  margin: 10px 0px;

  display: inline-block;
}
.promo .lancer .dateTitle {
  color: var(--ffffff, #fff);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
  margin: 10px 0px;

  display: inline-block;
}
.promo .lancer .descriptTitle {
  color: var(--black-color-737174, #807e81);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  margin: 10px 0px;
  display: inline-block;
}
.promo .lancer .btn-lancer {
  border-radius: 3px;
  width: 250px;
  height: auto;
  padding: 10px 20px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.promo .lancer .btn-lancer img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.promo .lancer .btn-lancer a {
  text-decoration: none;
  color: #fff;
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 22px;
}
.prev,
.next {
  width: 50px;
}

/* ************ HEADER ***************** */

/**************************/
/* NOUVEAUTE */
/**************************/
.sectionNouveaute {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0 2rem;
}
.sectionNouveaute .title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.sectionNouveaute .content {
  width: 100%;
  height: auto;
  background-color: #5d514c;
  overflow: hidden;
}
.sectionNouveaute .content .cards {
  width: 350rem;
  display: grid;
  height: 7rem;
  gap: 1.5rem;
  grid-template-columns: repeat(30, 300px);
  animation: slider 20s infinite alternate forwards;
  position: relative;
}
@keyframes slider {
  0% {
    left: 0px;
  }
  20% {
    left: 0px;
  }
  25% {
    left: -900px;
  }
  70% {
    left: -900px;
  }
  75% {
    left: -1800px;
  }
  100% {
    left: -2700px;
  }
}
.sectionNouveaute .content .cards .card {
  background-color: #fff;
  display: flex;
  border: 1px solid #d27575;
}
/* ************ NOUVEAUTE ***************** */

/**************************/
/* FOOTER */
/**************************/
.footer {
  width: 100%;
  padding: 1.8rem 0;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.trait {
  width: 100%;
  background: #363536;
}
.footer .grid {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-around;
}
.footer .grid .div1 {
  width: 30%;
  height: auto;
}
.footer .grid .div2 {
  width: 20%;
  height: 10rem;
}
.footer .grid .div3 {
  width: 14%;
  height: 8rem;
}
.newletters h4 {
  color: white;
}
.suivezNous {
  display: flex;
  height: auto;
  width: 30rem;
}
.newletters textarea {
  width: 80%;
  height: 100px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  outline: none;
  background: #d9d9d9;
  margin-top: 10px;
  resize: none;
}
.div3 .content {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
.newletters button {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  outline: none;
  border-radius: 28px;
  background: #d9d9d9;
  margin-top: 10px;
  color: black;
  cursor: pointer;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
}

.suivezNous h4 {
  margin-top: 0.8rem;
  color: #807e81;
  font-weight: bold;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
  color: white;
}
.suivezNous .icones {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: space-around;
}
.lab {
  color: white;
}

.footer-bottom p {
  color: white;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  text-align: center;
  margin-top: 1rem;
}
